{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Cadastro - Conta Patrimonial</h1>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadastro
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{{ path('contaPatrimonial_salvar') }}">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblNome">Descrição</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="contaPatrimonialNome" name="contaPatrimonialNome" class="form-control">
                        </div>
                    </div>


                    <div class="row" style="text-align: center;">
                        <button class="btn btn-labeled btn-info" type="submit" name="salvar" id="btnSalvar">Salvar</button>
                        <a class="btn btn-default" href="{{ path('usuario_index') }}">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}