{% block body %}
    <form action="{{ path('gravaPatrimonioMobile') }}" method="post">
        Plaqueta:<input type="text" id="username" name="cod"/>
        </br>
        Descricao:<input type="text" id="password" name="desc"/>
        </br>
        Nota Fiscal:<input type="text" id="password" name="nf"/>
        </br>
        Centro de Custo:<input type="text" id="password" name="cc"/>
        </br>
        Conta Patrimonial:<input type="text" id="password" name="cp"/>
        </br>
        Data Aquisicao:<input type="text" id="password" name="dta"/>
        </br>
        <input type="submit">Login</button>
    </form>
{% endblock %}
</body>
</html>