# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        PMPBundle\Entity\Usuario: sha512

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
       bd_pmp:
        entity: { class: PMPBundle:Usuario, property: userName }

    firewalls:
        secured_area:
            pattern:    ^/
            form_login:
                check_path: /login_check
                login_path: /login
            logout:
                path:   /logout
                target: /
            anonymous:  ~

    access_control:
        - {path: ^/conta-patrimonial, roles: ROLE_USER}