{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Bem vindo {{ usuario.nome }}</h1>
        </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success col-md-12">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel-body">
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="nome">Nome</label>
                </div>
                <div class="col-md-5">
                    <input type="text" id="txtNome" name="txtNome" class="form-control" value="{{ usuario.nome }}" disabled>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label for="lblNome">Login</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="txtLogin" name="txtLogin" class="form-control" value="{{ usuario.userName }}"  disabled>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label for="lblNome">Nova Senha</label>
                </div>
                <div class="col-md-3">
                    <input type="password" id="txtSenha" name="txtSenha" class="form-control" placeholder="Digite uma Senha para atualizar">
                </div>
            </div>

            <div class="row">
                <button class="btn btn-labeled btn-info" type="submit" name="salvar" id="btnSalvar">Atualizar Senha</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $( document ).ready(function() {
            $("#home").addClass( "active-menu" );
        });
    </script>
{% endblock %}