{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Usu&aacute;rios</h1>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadastro
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="txtNome" name="txtNome" class="form-control" value="{{ usuario.nome }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblNome">Login</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtLogin" name="txtLogin" class="form-control" value="{{ usuario.userName }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblNome">Senha</label>
                        </div>
                        <div class="col-md-3">
                            <input type="password" id="txtSenha" name="txtSenha" class="form-control" placeholder="Digite uma nova senha">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblCargo">Cargo</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbCargo" name="cbCargo" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblCentroCusto">Centro de Custo</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbCentroCusto" name="cbCentroCusto" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblPerfil">Perfil</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbPerfil" name="cbPerfil" class="form-control">
                                <option value=""  {% if usuario.roles[0] == ''  %} selected {% endif %}>Usu&aacute;rio</option>
                                <option value="ROLE_ADMIN" {% if usuario.roles[0] == 'ROLE_ADMIN'  %} selected {% endif %}>Administrador</option>
                            </select>
                        </div>
                    </div>

                    </br>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-labeled btn-info" type="submit" name="salvar" id="btnSalvar">Salvar</button>
                        <a class="btn btn-default" href="{{ path('usuario_index') }}">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}